.header {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 0px 260px;
}

.header img {
  width: 88px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.nav-menu li {
  cursor: pointer;
  position: relative;
  color: black;
  font-size: 20px;
}

.nav-menu li::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.6s ease; 
}

.nav-menu li:hover::after {
  width: 100%; /* Увеличиваем ширину псевдоэлемента при наведении */
}


.login-wishlist {
  cursor: pointer;
  margin-left: 20px;
}

.login-wishlist ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.login-wishlist ul li {
  position: relative;
  color: black;
  font-size: 20px;
}

.login-wishlist ul li::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.6s ease; 
}

.login-wishlist li:hover::after {
  width: 100%; /* Увеличиваем ширину псевдоэлемента при наведении */
}